# Environnement virtuel
venv/
env/
ENV/

# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Fichiers de configuration locaux
.env
.env.local

# Logs et bases de données
*.log
*.sqlite
*.db

# Dossiers spécifiques à l'IDE
.idea/
.vscode/
*.swp
*.swo

# Fichiers Elasticsearch locaux
elasticsearch-data/

# Fichiers de cache
.pytest_cache/
.coverage
htmlcov/
